{% extends 'base.html' %}

{% block title %}
{{ ad.title }}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="alert alert-info" role="alert">
        <h1>{{ ad.title }}</h1>
        <p>{{ ad.text }}</p>
        <p><b>{{ ad.date.date() }}</b></p>
        {% if current_user.is_authenticated %}
            <a href="/ads/{{ ad.id }}/update" class="btn btn-primary">Редактировать</a>
            <a href="/ads/{{ ad.id }}/delete" class="btn btn-danger">Удалить</a>
        {% endif %}
    </div>
</div>
{% endblock %}