{% extends 'base.html' %}

{% block title %}
    Создание объявления
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Создание объявления</h1>
    <form method="POST">
        <input type="text" name="title" id="title" class="form-control" placeholder="Название"><br>
        <textarea name="text" id="text" class="form-control" placeholder="Описание"></textarea><br>
        <input type="submit" class="btn btn-success" value="Создать"><br>
    </form>
</div>
{% endblock %}

