{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="POST">
    <table>
        <tr>
            <td>Login</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>Password retype</td>
            <td><input type="password" name="password2"></td>
        </tr>
        <tr>
            <td><a href="/login">Login</a></td>
            <td><input type="submit" value="Register"></td>
        </tr>
    </table>
</form>
{% endblock %}